{% extends "base_user.html" %}

{% block title %}{{ user.username }} | GLHF{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-0">
  <div class="card profile-card shadow border-0">
    <div class="d-flex align-items-center">
      <img src="{{ url_for('static', filename='img/avatars/' ~ user.id ~ '.jpg') }}"
           alt="{{ user.username }} avatar"
           class="profile-avatar">
      <div class="ms-4 profile-info">
        <h2 class="profile-username">{{ user.username }}</h2>
        <p class="profile-bio">{{ user.bio|safe }}</p>
      </div>
    </div>
  </div>
</div>
{% block edit %}{% endblock %}
{% endblock %}
